.popup__image-caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  padding-top: 10px;
  min-height: 14px;
  color: white;
}

.popup__close-button_image {
  top: 21px;
  right: -215px;
}